/* About */
.about{
    padding: 20px;
    margin: -35px;
}

.about__intro{
    font-size: 1rem;
    padding: 20px 32px;
    margin: 10px 0;
}

.about__container{
    background-color: #dbdbdf;
    padding: 30px 20px 60px;
    margin: 10px 0;
}

.about__heading{
    font-size: 25px;
    font-weight: 700;
    color: #354548;
    margin-left: 10px;
}

.skill-card{
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.skill-card__icon{
    width: 40px;
    height: 40px;
}
.skill-card__body{
    margin-left: 15px;
}
.skill-card__content{
    margin: 0;
    font-size: 0.9rem;
    color: #2980b9;
}
.skill-card__title{
    color: #0f5b8d;
    font-weight: 700;
}